<h1>Musician: <%= @musician.name %></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <td>Band</td>
      <td>Instrument Played</td>
      <td>Delete Membership</td>
    </tr>
  </thead>

  <tbody>
    <% @musician.bands.each do |band| %>
    <tr>
      <td class="name">
        <a href="<%= band_path(band) %>">
          <%= band.name %>
        </a>
      </td>
      <td>
        <%= BandMembership.where(musician_id: @musician.id, band_id: band.id).first.instrument %>
      </td>  
      <td>
        <form action="<%= musician_path(@musician) %>" method="post">
          <input type="hidden" value="delete" name="_method">
          <button class="delete btn-link" id="delete">&#10007;</button>
        </form>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>